<div class="container">
  <div class="row">
    <div class="twelve columns" id="login-column">
      <nav>
        <form class="" method="post" style="margin-bottom: 1.0rem;">
          <input formaction="/favorite/quotes" class="button-primary" id="btn_favorite_view" type="submit" value="Favorites">
          <input formaction="/users/profile_home" class="button-primary" type="submit" value="Profile">
          <input formaction="/users/logout" class="button-primary" id="btn_login" type="submit" value="Logout">
          <br>
        </form>
      </nav>
      <!-- if there is a message -->
      <% if @message %>
          <!-- print that message -->
          <p class="text-center" id="warning-message"><strong><%= @message %></strong></p>
      <% end %>
      <h3>Edit Profile</h3>
      <form class="" action="/users/edit_profile" method="post">
        <input class="" type="text" name="user_name" value="<%= @user.user_name %>"><br>
        <input class="" type="password" name="password" placeholder="Password"><br>
        <input class="" type="text" name="full_name" value="<%= @user.full_name %>"><br>
        <input class="" type="text" name="user_email" value="<%= @user.user_email %>"><br>
        Please upload a profile pic no larger than 300px x 300px<br>
        <input id="user_image" type="file" name="user_image" value=""><br>
        <input id="image_base64" type="hidden" name="image_base64" value=""><br>
        <input class="button-primary" id="btn_register" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

  var fileInput = document.querySelector("#user_image");
  // var btnConvert = document.querySelector("#btnConvert");
  var textOutput = document.querySelector("#image_base64");
  // var multiOutput = document.querySelector("#multi_line_box");

  fileInput.addEventListener("change",function() {
    console.log(fileInput.files.length);
    if (fileInput.files.length > 0) {
      convertImage(fileInput.files[0], textOutput);
    } else {
      console.log("You haven't selected a file");
      throw new Error("No file selected");
    }
  });
  });


  function convertImage(img_file, textOutput, multiOutput) {

  console.log("create reader");
  var reader = new FileReader();

  reader.onload = function(event) {
    try {
      console.log("onload");
      console.log(reader.result);
      textOutput.value = reader.result;
      // multiOutput.value = reader.result;
      // appendImage(reader.result);
    } catch (err) {
      throw new Error("Unable to convert:" + err)
    }
  };

  reader.readAsDataURL(img_file);

  console.log("convertImage done");
  }

  function appendImage(img) {
  console.log(img);
  var imgTag = "<img>";
  $("body").append("<img>");
  $("img").prop("src", img);
  // $(imgTag).prop("src",img);
  }

</script>
