<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>thoughtful: be inspired</title>

    <!-- main css -->
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

    <!-- Skeleton -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

  </head>
  <body>
<header>LOGO GOES HERE</header>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    <!-- erb placement -->
    <%= yield %>
    <!-- erb placement end -->

    <footer>&copy; 2015<br>
    Jan Christian Bernabe<br>
    All Rights Reserved.</footer>

  </body>
</html>
