<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>thoughtful</title>

    <!-- main css -->
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

    <!-- Skeleton -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

  </head>
  <body>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    <!-- erb placement -->
    <%= yield %>
    <!-- erb placement end -->

    <footer>Copyright &copy; 2015 Copyright Jan Christian Bernabe  All Rights Reserved.</footer>

  </body>
</html>
