<div class="container">
  <div class="row">
    <div class="twelve columns" id="login-column">
      <!-- if there is a message -->
      <% if @message %>
          <!-- print that message -->
          <p class="text-center" id="warning-message"><strong><%= @message %></strong></p>
      <% end %>

      <form class="form-login" action="/users/login" method="post">
        <input class="" type="text" name="user_name" placeholder="Username" style="width: 50%;"><br>
        <input class="" type="password" name="password" placeholder="Password" style="width: 50%;"><br>
        <input class="button-primary" id="btn_login" type="submit" value="Login" style="width: 50%;" >
        <p>Not yet a user? <a href="/users/register">Register</a></p>
      </form>

      <div id="content">
        <article class="profile_quote">
        </article>
      </div>

    </div>
  </div>
</div>
