<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <!-- if there is a message -->
      <% if @message %>
          <!-- print that message -->
          <p class="text-center" id="warning-message"><strong><%= @message %></strong></p>
      <% end %>
    </div>

    <div class="col-xs-12">
      <form class="" action="/users/login" method="post">
        <input class="" type="text" name="user_name" placeholder="Username">
        <input class="" type="password" name="password" placeholder="Password">
        <label>not yet a user? <a href="/users/register">register</a>
        <input class="" id="btn_login" type="submit" value="Login"></label>
      </form>
    </div>

  </div>
</div>
