<div class="container">
  <div class="row">
    <div class="twelve columns" id="login-column">
      <div class="content">
        <h5>Sorry, not allowed!</h5>
      </div>
<br>
<br>
      <form action="/users/logout" method="get">
        <input class="button-primary" id="btn_login" type="submit" value="Logout">
      </form>
      <form action="/users/profile_home" method="get">
        <input class="button-primary" type="submit" value="Profile Home">
      </form>
      <form action="/users/profile_search" method="post">
        <input class="button-primary" type="search" value="Username">
      </form>

    </div>
  </div>
</div>
