<!-- link generation script -->
<script src="/js/apiCalls.js" charset="utf-8"></script>
<div class="col-xs-12">
<div class="profile_image_container">
<img src="http://placehold.it/150x150" alt="" />
</div>
</div>
<div id="content">
<article class="profile_quote">
</article>
<div class="profile_image_row">
</div>
<br>
<br>
<form action="/users/logout" method="post">
  <input class="button-primary" id="btn_login" type="submit" value="Logout">
</form>

</div>
