<!-- link generation script -->
<script src="/js/apiCalls.js" charset="utf-8"></script>


<a class="button-link" href='/users/logout'>LOG OUT</a>

<div class="profile_image_container">
  <img src="http://placehold.it/150x150" alt="" />
</div>

<div class="profile_quote">

</div>

<div class="profile_image_row">

</div>
