<!-- link generation script -->
<script src="/js/apiCalls.js" charset="utf-8"></script>


<div class="col-xs-12">
<div class="profile_image_container">
<img src="http://placehold.it/150x150" alt="" />
</div>
</div>
<div class="col-xs-12">
<div class="profile_quote">
</div>
</div>

<div class="profile_image_row">
</div>
<input class="button-primary" id="btn_login" type="submit" ref='/users/logout' value="Logout">
