<div class="container">
  <div class="row">
    <div class="twelve columns" id="login-column">

      <!-- if there is a message -->
      <% if @message %>
          <!-- print that message -->
          <p class="text-center" id="warning-message"><strong><%= @message %></strong></p>
      <% end %>


      <form class="" action="/users/register" method="post">
        <input class="" type="text" name="user_name" placeholder="Username"><br>
        <input class="" type="password" name="password" placeholder="Password"><br>
        <input class="" type="text" name="full_name" placeholder="Full Name"><br>
        <input class="" type="text" name="user_email" placeholder="Email"><br>
        Please upload a profile pic no larger than 300px x 300px<br>
        <input id="user_image" type="file" name="user_image" value=""><br>
        <input id="image_base64" type="hidden" name="image_base64" value=""><br>
        <input class="button-primary" id="btn_register" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    var fileInput = document.querySelector("#user_image");
    var textOutput = document.querySelector("#image_base64");

    fileInput.addEventListener("change",function() {
      console.log(fileInput.files.length);
      if (fileInput.files.length > 0) {
        convertImage(fileInput.files[0], textOutput);
      } else {
        console.log("You haven't selected a file");
        throw new Error("No file selected");
      }
    });
  });


  function convertImage(img_file, textOutput, multiOutput) {

    // create the reader for encoding
    var reader = new FileReader();
    // tasks to do after processing
    reader.onload = function(event) {
      try {
        console.log("onload");
        console.log(reader.result);
        textOutput.value = reader.result;
      } catch (err) {
        throw new Error("Unable to convert:" + err)
      }
    };
    // "read" the file and encode it
    reader.readAsDataURL(img_file);
    // console.log("convertImage done");
  }


  function appendImage(img) {
    console.log(img);
    var imgTag = "<img>";
    $("body").append("<img>");
    $("img").prop("src", img);
  }

</script>
