body {
  background-image: url(/img/background/nature-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: pink;
  font-family: 'Raleway', Arial, sans-serif;
}

header {
  text-align: center;
  width: 500px;
  margin: 100px auto 100px auto;
  font-size: 5rem;
  color: white;
}

.main-logo {
}

.submit-button {
  color: black;
  background-color: rgba(218, 241, 233, 0.8)
}

.col-xs-12 {
  text-align: center;
  color: white;
}

.foot {
  text-align: center;
  margin: 200px 0 0 0;
  font-size: 1rem;
  color: white;
}
